fastapi
uvicorn[standard]
python-multipart
pydantic
pydantic-settings
numpy
torch
torchvision
gsplat
Pillow
imageio
tqdm
opencv-python
pycolmap
piexif
scikit-learn
scipy
matplotlib
pyyaml
torchmetrics
tensorboard
tyro